@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }   
}

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        background-color: grey;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;

    }
    
    nav ul.slide {
        transform: translateX(0);
    }

    main {
        flex-direction: column;
    }



    
}